<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<title>Posts</title>
</head>
<body>

	<h1>Posts from VK</h1>
	<ul>
		<li><a href="post/1">Post 1 | {{ key_1 }}</a></li>
		<li><a href="post/2">Post 2 | {{ key_2 }}</a></li>
		<li><a href="post/3">Post 3 | {{ key_3 }}</a></li>
		<li><a href="post/4">Post 4 | {{ key_4 }}</a></li>
		<li><a href="post/5">Post 5 | {{ key_5 }}</a></li>
		<li><a href="post/6">Post 6 | {{ key_6 }}</a></li>
		<li><a href="post/7">Post 7 | {{ key_7 }}</a></li>
		<li><a href="post/8">Post 8 | {{ key_8 }}</a></li>
		<li><a href="post/9">Post 9 | {{ key_9 }}</a></li>
		<li><a href="post/10">Post 10 | {{ key_10 }}</a></li>
	</ul>

</body>
</html>